@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Indie Flower', cursive;
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 68px;
    background-color: black;
    color: white;
    align-items: center;
}

nav ul li{
    padding: 0px 5px;
}

.brand img{
    width: 50px;
    padding: 5px 10px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 65vh;
    background-color: black;
    color: white;
    font-family: 'Indie Flower', cursive ;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('./images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
}

.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#myProgressBar{
    width: 75vh;
    text-align: center;
}

.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}

.songItem{
    height: 58px;
    display: flex;
    background-color: white;
    width: 30%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    font-weight: bold;
}

.songItem img{
    width: 43px;
    margin: 0 8px;
    border-radius: 34px;
    height: 44px;
}

.timestamp{
    width: 43px;
    margin: 0 23px;
    font-weight: bold;
    font-size: 20px;
}
